<div class="ui container">
	<div class="ui large secondary inverted pointing menu" id="fixedMenu">
		<a class="toc item">
			<i class="sidebar icon"></i>
		</a>
		<a href="/app" class="header item">
			<img class="logo" src="/img/cooper.jpg">
		</a>
		<a class="item" href="/">Home</a>
		<a class="item" href="/contato">Contato</a>
		<div class="right item">
			<a class="ui inverted button" href="/logout"><i class="sign out icon"></i>Sair</a>
		</div>
	</div>
</div>
