<!-- Following Menu -->
<div class="ui large top fixed menu transition hidden" id="followingMenu">
  <div class="ui container">
    <a class="item" href="/">Home</a>
    <a class="item" href="/contato">Contato</a>
    <div class="right menu">
			<div class="item">
				<a class="ui red button" href="/logout"><i class="sign out icon"></i>Sair</a>
			</div>
    </div>
  </div>
</div>
