<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu left" id="sidebarMenu">
  <a class="item">Home</a>
  <a class="item" href="/contato">Contato</a>
	<a class="item" href="/login">Entrar</a>
	<a class="item" href="/signup">Inscreva-se</a>
</div>
