<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui inverted divided three column grid">
        <div class="column">
          <!--<h4 class="ui inverted header">---</h4>-->
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link Two</a>
          </div>
        </div>
        <div class="column">
          <!--<h4 class="ui inverted header">---</h4>-->
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
          </div>
        </div>
        <div class="column">
          <!--<h4 class="ui inverted header">---</h4>-->
          <div class="ui inverted link list">
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
            <a href="#" class="item">Link One</a>
            <a href="#" class="item">Link Two</a>
          </div>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <img src="assets/images/logo.png" class="ui centered mini image" alt="Cooper Comics">
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="/sitemap.xml">Sitemap</a>
        <a class="item" href="/contato">Contato</a>
        <a class="item" href="#">Termos e Condições</a>
        <a class="item" href="#">Política de Privacidade</a>
      </div>
    </div>
  </div>
