<!DOCTYPE html>
<html>
	<head>
		<title>Cooper Comics</title>

		<% include ../snippets/head %>
		<% include ../snippets/analytics %>
		<% include ../snippets/css %>

		<style media="screen">
			body {
				background-image: url('/img/cooper.jpg');
			}
		</style>
	</head>
	<body>
		<% include ../snippets/js %>
	</body>
</html>
