<!DOCTYPE html>
<html>
	<head>
		<title>Cooper Comics</title>

		<% include ../snippets/head %>
		<% include ../snippets/analytics %>
		<% include ../snippets/css %>
	</head>
	<body ng-app="cc">
		<% include ../snippets/navbar/navbar %>

		<div class="pusher">
			<div class="ui inverted vertical masthead center aligned segment">
				<% include ../snippets/navbar/navbar-fixed %>

				<div class="ui text container">
					<h1 class="ui inverted header">
						Cooper Comics
					</h1>
				</div>
			</div>

			<div class="ui text container" ng-view style="margin-top: 1em;">
				<base href="/"></base>
			</div>
			<% include ../snippets/footer %>
		</div>

		<% include ../snippets/js %>
		<% include ../snippets/angular %>
		<script src="/js/controller/listarLeilao.js" charset="utf-8"></script>
	</body>
</html>
