.hidden.menu {
	display: none;
}

.secondary.pointing.menu .toc.item {
	display: none;
}

.ui.menu:not(.vertical) .item > .button {
	margin-left: 0.5em;
}

@media only screen and (max-width: 600px) {
	.secondary.pointing.menu .item,
	.secondary.pointing.menu .menu {
		display: none;
	}

	.secondary.pointing.menu .toc.item {
		display: block;
	}

	.ui.fixed.menu {
		display: none !important;
	}
}
