html {
	background-color: yellow;
}

body.pushable > .pusher {
	background-color: yellow;
  background-image: url('/img/radial.jpg');
  background-position: center;
  background-size: cover;
}

.header_nome {
	padding-left: 1em;
}

.ui.vertical.stripe {
	padding: 8em 0em;
}
.ui.vertical.stripe h3 {
	font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
	margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
	clear: both;
}
.ui.vertical.stripe p {
	font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 0em;
}
.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

.ui.form input {
	padding: 0.5em !important;
}

.ui.vertical.footer.segment {
	margin-top: 5em;
  padding: 5em 0em;
}

.ui.segment.maisinfo {
	background-color: rgba(170, 77, 57, 0.7);
	padding-top: 3em;
}

div + .no-items {
  display: none;
}

th.selectable:hover {
  background: rgba(255,255,255,.08) !important;
  color: #fff !important;
	cursor: pointer !important;
}

.hidden {
	display: none;
}

.ui.inverted.segment {
	background-color: #952108 !important;
}

footer {
	background-color: #952108 !important;
}
